<!DOCTYPE html>
<html>
<head>
  <!--      Why isn't my external css working?
            What do I need to add to app.yaml?
  <link type="text/css" rel="stylesheet" href="/static/style.css" />
  -->
  <style>
  body {
    background-color: grey;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .error {
    color: red;
  }

  .page_title {
    color: blue;
    text-shadow: 1px 1px #ffffff;
    font-size: 4em;
    text-decoration: none;
  }

  .new_post {
    color: blue;
    font-size: 2em;
    text-decoration: none;
  }

  a:hover {
  color: aqua;
  }
  </style>


  {% block head %}
  {% endblock %}
</head>
<body>
  <a href="/blog" class="page_title">Build-a-blog</a>
  <hr>
  {% block new_post %}
  {% endblock %}
  {% block content %}
  {% endblock %}
</body>
</html>
