{% extends "base.html" %}
{% block head %}
  <title>main</title>
{% endblock %}

{% block new_post %}
<a href="/blog/newpost" class="new_post">new post</a>
<br><br>
{% endblock %}

{% block blog_post %}

  {% for post in posts %}
    <hr>
    <strong>{{ post.title | safe }}</strong>
    <br>
    {{ post.blog_post | safe }}
    <br>
    <em>{{ post.created | safe }}</em>
    <br><br>
  {% endfor %}

{% endblock %}


<!--
<div class="Posts">
  <div class="blog-title">{{Archive.title}}</div>
  <pre class="blog-body">{{Archive.blog_post}}</pre>
</div>
-->
